<h2>My Subjects</h2>
<app-study-subject [subject]="selectedSubject" [student]="student"></app-study-subject>
<br />
<app-student></app-student>
<ul class="subjects">
  <li *ngFor="let subject of subjects" [class.selected]="subject === selectedSubject" (click)="onSelect(subject)">
    <span class="badge">{{subject.grade}}</span> {{subject.name}}
  </li>
</ul>

<br /><br />

<app-subject-detail [subject]="selectedSubject"></app-subject-detail>
<!-- [subject]="selectedSubject" is an Angular property binding-->
